@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}

.project-name {
  margin-left: 2vh;
  letter-spacing: 1px;
}

.card-cell {
  width: 250px;
  height: 300px;
  border-radius: 3px;
  margin: 1em;
  text-align: center;
  transition: all 0.2s ease;
}

.card-cell:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 14px -4px rgba(0, 0, 0, 0.6);
}

.card-cell p {
  border: 1px solid black;
}

header {
  color: white;
  background-color: #103297d9;
  box-shadow: -1px -4px 1rem 2px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Orbitron', sans-serif;

}

.header-score-container {
  display: flex;
  margin-right: 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-score-container p {
  margin-right: 10px;
}

img {
  max-width: 100%;
  max-height: 95%;
  width: 200px;
}

.img-container {
  height: 90%;
}
